# Ignore node_modules
node_modules/

# Ignore build directory
build/

# Ignore specific JavaScript files
dist/**/*.js

# Ignore configuration files
config/*.js

# Ignore all minified files
*.min.js

# Ignore files in the logs directory
logs/
